*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #0c0f38;;
    color: white;
}
.logo{
     margin-top: 50px; 
     margin-left: 30px;
     font-size: 35px;
}
#bg1{
    width: 627px;
}
.underlist{
    display: flex;
    justify-content: flex-end;

}
.underlist li{
    list-style: none;
    margin-top: 60px;
    transform: translateX(-109px);
    
    
}
.underlist li a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    transition: 0.5s linear;
}
.underlist li a:hover{
    color: yellow;
}
.power{
    margin-top: 70px;
    font-size: 3rem;
    font-weight: bold;
}
.landing{
    color: yellow;
    font-size: 35px;
    font-weight: bold;
}
.dataweb{
    
    background-color: white;
    border-top: 2px solid black;
    padding: 20px;
}
.para{
    font-family: sans-serif;
}
.morebtn{
    padding: 14px 47px;
    background-color: black;
    color: white !important;
    font-family: sans-serif;
   text-decoration: none;
   transition: .2s linear;
}
.morebtn:hover{
    background-color: #0c0f38;
}
.services_section{
    margin-top: 100px;
    background-color: #0c0f38;
    color: white;
    min-height: 168vh;
    
}
.box{
    border: 2px solid white;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    transition:  0.5s ease;
}
.box:hover{
    background-color:rgba(128, 0, 128, 0.479)
}
.box img{
    background-color: white;
    padding: 20px;
    border-radius: 100px;
}
.morebtn2{
    padding: 14px 47px;
    background-color: white;
color: black ;
    font-family: sans-serif;
   text-decoration: none;
   transition: .2s linear;
   font-weight: bold;
   
}
.morebtn2:hover{
    background-color: rgb(136, 44, 136);
    color: white;
}
.box2{
    border: 2px solid white;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    transition:  0.5s ease-in; 
     box-shadow: #ddd 0px 0px 10px;; 
  
}
.box2:hover{
   
    transform: scale(1.1);

}
.box2 img{

    padding: 20px;
    border-radius: 100px;
}
.morebtn3{
    padding: 14px 47px;
    background-color: black;
color: white ;
    font-family: sans-serif;
   text-decoration: none;
   transition: .2s linear;
   font-weight: bold;
}
.morebtn3:hover{
    background-color: rgb(136, 44, 136);
    color: white;
}
.box3{

    width: 400px;
    padding: 50px 0;
    border-radius: 20px ;
    background-color: #0c0f38;
    transform: translate(360px,50px);
}
input{
    margin: 10px;
    height: 27%;
    height: 7vh;
    border-radius: 14px;
    width: 315px;
    outline: none;
    border: none;
    padding: 0 19px;
}
textarea{
    width: 311px;
    outline: none;
    border: none;
    border-radius: 14px;
    padding: 0 19px;
}
footer{
    background-color: #0c0f38;
    height: 70vh;
    margin-top: -155px;

}
.btn4{
    padding: 14px 57px;
    background-color: white;
color: palevioletred ;
    font-family: sans-serif;
   font-weight: bold; 
   outline: none;
   border:none;
   border-radius: 30px;
}
.footermain{
transform: translateY(200px);
color: white;
}
.parafooter{
    width: 486px;
    transform: translate(302px, 10px);
}